@import "../utils/templateCSS.css";

.el-card__body {
    overflow: hidden;
}

.el-collapse-item__header {
    padding: 10px 20px 10px 20px;
    font-size: large !important;
}

.el-collapse-item__content {
    padding-left: 50px;
    padding-right: 50px;
}
