@import "../utils/templateCSS.css";

.el-aside {
    background-color: darkgray;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

main.el-main{
    display: grid !important;

}
main.el-main.num{
    flex:1;
}
main.el-main.row{
    flex:10;
    align-items: flex-start;
    /*flex-grow: 0;*/
}

.el-button+.el-button{
    margin-left: 0;
    margin-bottom: 10px;

}

button.el-button.el-button--default.is-plain{
    margin-bottom: 10px;
    height: 40px;
}

.el-card{
    margin-bottom: 20px;
}