<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>考生意向志愿采集平台</title>
    <script src="../utils/templateJS.js"></script>
    <link rel="stylesheet" href="../css/frame.css">
</head>
<body>
<div id="app" v-cloak v-if="showWindow">
    <el-container style="height: 100vh" v-loading="fullScreenLoading" direction="vertical" v-if="showWindow">
        <el-header height="48px"
                   style="background: #007cc4;padding-right: 60px;box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);">
            <span class="title">意向考生大数据分析平台</span>
            <div style="display: block;">
                <span class="user-name">欢迎您：{{userInfo.username}}</span>
                <el-button type="danger" size="small" @click="logout">退出</el-button>
            </div>
        </el-header>
        <el-container style="height: 100%">
            <el-aside width="230px">
                <el-menu text-color="#ccc" :default-openeds="default_open_array" @select="onSelect">
                    <el-submenu index="systemManagement" v-if="user.role === 'admin'">
                        <template slot="title"><i class="el-icon-s-tools"></i>系统管理</template>
                        <el-menu-item index="1">字典管理</el-menu-item>
                        <el-menu-item index="2">用户管理</el-menu-item>
                        <el-menu-item index="3">配置管理</el-menu-item>
                    </el-submenu>
                    <el-submenu index="surveySystem" v-if="user.role !== 'student'">
                        <template slot="title"><i class="el-icon-s-tools"></i>问卷系统</template>
                        <el-menu-item index="4" v-if="user.role === 'admin'">创建问卷</el-menu-item>
                        <el-menu-item index="5" v-if="user.role !== 'student'">问卷管理</el-menu-item>
                    </el-submenu>
                    <el-submenu index="userInfo" v-if="user.role === 'student'">
                        <template slot="title"><i class="el-icon-s-tools"></i>个人信息维护</template>
                        <el-menu-item index="6">信息维护</el-menu-item>
                    </el-submenu>
                    <el-submenu index="surveyInfo" v-if="user.role === 'student'">
                        <template slot="title"><i class="el-icon-s-tools"></i>问卷信息</template>
                        <el-menu-item index="8">历史问卷</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-main style="padding: 0px;height: 100%;overflow-y: hidden">
                <el-tabs v-model="activeTabName" type="card" closable @tab-remove="removeTab"
                         style="height: 100%">
                    <el-tab-pane :key="tab.name" v-for="(tab, index) in tabList" :label="tab.title" :name="tab.name"
                                 style="height: 100%" v-loading="tab.loading">
                        <iframe style="border: 0px;height: calc(100% - 40px);width: 100%;" ref="iframe"
                                :src="tab.url" :id="tab.name" @load="tab.loading=false"></iframe>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="../js/frame.js"></script>
</html>