<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/statistic-overall.css">
    <script src="../plugins/echarts.js"></script>
    <script src="../utils/templateJS.js"></script>
</head>
<body>
<div id="app" v-cloak v-if="showWindow" v-loading="fullScreenLoading">
    <div style="display: flex; justify-content: flex-end">
        <el-button type="primary" size="small" @click="getSurveyStatistics">查询</el-button>
        <div style="width: 30px"></div>
    </div>

    <!--筛选-->
    <el-collapse v-model="filter.activeNames">
        <el-collapse-item title="筛选面板" name="1">
            <el-button type="primary" icon="el-icon-plus" circle @click="addSurveyFilter"></el-button>
            <component is="my-survey-filter" v-for="(item,index) in filter.surveyFilterList" :key="index"
                       :questions="filter.questionList" :condition="item"
                       v-on:submit-this-question="submitQuestionByIndex"
                       v-on:delete-this-question="deleteQuestionByIndex"></component>
        </el-collapse-item>
    </el-collapse>

    <!--数据展示-->
    <compent is="my-card" v-for="item in resultList" :entity="item" v-if="true">
    </compent>
</div>
</body>
<script src="../js/statistic-overall.js"></script>
</html>