<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../utils/templateJS.js"></script>
    <script src="../plugins/qrcode.js"></script>
    <link rel="stylesheet" href="../css/survey-surveyManagement.css">



</head>
<body>

<div id="app" v-cloak style="background: white;height: 100%;overflow: hidden;" v-loading="fullScreenLoading" v-if="showWindow">
    <!--顶栏-->
    <div style="padding: 15px 20px 0 15px;">
        <span style="float: left;margin-right: 10px;">
            <el-select v-model="onShowTable.conditionType" size="small"
                       filterable placeholder="选择查找方式">
                <el-option v-for="(item, index) in onShowTable.conditionTypes" :key="index" :label="item.value"
                           :value="item.key"></el-option>
            </el-select>
            <el-input size="small" placeholder="请输入对应条件查找对应问卷" suffix-icon="el-icon-search"
                      style="width: 250px;margin-right: 10px;" v-model="onShowTable.condition"
                      @keyup.enter.native="onShowTable.params.pageIndex=1;refreshTotalTable">
            </el-input>
            <el-button size="small" type="primary" style="position:relative;"
                       @click="onShowTable.params.pageIndex=1;refresh('reload')">
                <span>搜索</span>
            </el-button>
        </span>
        <span class="button-group" style="float: right">
            <el-button size="small" type="success" @click="clickCreate">
                <span>创建问卷</span>
<!--                todo-->
            </el-button>
        </span>
    </div>


    <div style="height:calc(100% - 116px);margin-top: 50px;padding-left: 15px;padding-right: 15px;overflow: auto;width: 100%">
        <component is="my-component" v-for="item in onShowTable.entities" :survey="item"
                   v-bind:key="item.id" v-on:refresh="refresh" v-on:qrcode="openDialog">
        </component>
    </div>


    <el-dialog width="300px" title="二维码" :visible.sync="qcode.visible"
               v-loading="qcode.loading">
        <div id="codeArea" style="height: 250px; width: 100px"></div>
    </el-dialog>

    <!--分页-->
    <el-pagination style="text-align: center;margin: 8px auto;"
                   @current-change="onPageIndexChange"
                   @size-change="onPageSizeChange"
                   :current-page="onShowTable.params.pageIndex"
                   :page-size="onShowTable.params.pageSize"
                   :page-sizes="onShowTable.params.pageSizes"
                   :total="onShowTable.params.total"
                   layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>


</div>

</body>
<script src="../js/survey-surveyManagement.js"></script>
</html>