<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/survey-surveyPreview.css">
    <script src="../utils/templateJS.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container >
        <!--主界面，预览问卷及具体设置-->
        <el-main style="padding: 0">
            <div style="margin: 4px 0;"></div>
            <!--使用row-col将提交按钮置右-->
            <!--            <div style="width:910px;margin:0 auto;text-align:right;">-->

            <!--&lt;!&ndash;                <div ><el-button style="width: 150px"type="primary"@click="submitSurvey">提交</el-button></div>&lt;!&ndash;todo 建议放在右上角&ndash;&gt;&ndash;&gt;-->
            <!--            </div>-->
            <div style="margin: 10px 0;"></div>
            <div style="margin:0 auto;height:100%;overflow-x: hidden;overflow-y:scroll;width: 910px;">
                <div style="height: 10px;width: 910px;"></div><!--人工增设一块，为了增加上边界距离-->
                <div style="margin-left: 15px;margin-right: 15px;height: auto;">
                    <div style="margin-top: 10px;margin-bottom: 10px;text-align: center">
                        <span v-text="survey.surveyTitle" style="    font-family: system-ui;
                              font-size: x-large;" ></span>
                        <!--                        <el-input v-model="survey.surveyTitle" placeholder="请填写问卷标题"></el-input>-->
                    </div>
                    <div style="margin-top: 10px;margin-bottom: 10px;text-align: center">
                        <span v-text="survey.description"></span>
                        <!--                        <el-input v-model="survey.description" placeholder="请填写问卷说明" type="textarea"></el-input>-->
                    </div>
                    <component :is="item.type" v-for="(item,index) in survey.questions" v-show="renderStatus[index]"  :question="item"
                               :list="survey.questions" :clean="clean" v-bind:key="survey.questions.id"
                               v-on:submit-questions="submitQuestions"
                    >
                        <!--                        v-on:delete-question-by-index="deleteQuestionByIndex"-->
                        <!--                        v-on:submit-this-question="submitQuestionByIndex"-->
                        <!--                        v-on:revert-this-question="revertQuestionByIndex"-->
                    </component>

                    <div style="text-align: center">
                        <el-button disabled @click="clickSubmit" type="primary" style="margin-bottom: 10px;margin-top: 10px;height: 40px;width: 80%">预览状态不可提交</el-button>
                    </div>
                </div>
            </div>-
        </el-main>
    </el-container>
</div>
<script src="../js/survey-surveyPreview.js"></script>
</body>
</html>