<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <script src="../utils/templateJS.js"></script>
    <link rel="stylesheet" href="../utils/templateCSS.css">
    <link rel="stylesheet" href="../css/welcome.css">
</head>
<body>
<div id="app" v-cloak>
    <el-tabs v-model="activeName"
             @tab-click="handleTabClick"
             v-loading="fullScreenLoading">
        <el-tab-pane label="登录" name="login">
            <el-form>
                <el-form-item label="用户名" label-width="120px">
                    <el-input v-model="ruleForm.userName" placeholder="请输入用户名或准考证号"></el-input>
                </el-form-item>
                <el-form-item label="密码" label-width="120px">
                    <el-input v-model="ruleForm.password" show-password></el-input>
                </el-form-item>
            </el-form>
            <div class="button">
                <el-button type="primary" @click="login">登录</el-button>
            </div>
        </el-tab-pane>

        <el-tab-pane label="注册" name="register">
            <el-form :rules="rules" :model="ruleForm" ref="ruleForm">
                <el-form-item label="准考证号" label-width="120px" prop="userName">
                    <el-input v-model="ruleForm.userName"></el-input>
                </el-form-item>
                <el-form-item label="电子邮箱" label-width="120px" prop="email">
                    <el-input v-model="ruleForm.email"></el-input>
                </el-form-item>
                <el-form-item label="密码" label-width="120px" prop="password">
                    <el-input v-model="ruleForm.password" show-password></el-input>
                </el-form-item>
                <el-form-item label="确认密码" label-width="120px" prop="confirmPassword">
                    <el-input v-model="ruleForm.confirmPassword" show-password></el-input>
                </el-form-item>
                <el-form-item class="button">
                    <el-button type="success" @click="register">注册</el-button>
                </el-form-item>
            </el-form>
        </el-tab-pane>
    </el-tabs>


</div>
</body>
<script src="../js/welcome.js"></script>
</html>